.choosing {
  display: flex;
  width: 100%;
}
.langs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width:530px) {
  .langs {
    flex-direction: column;
    align-items: center;
    & select {
      width: 100%;
      max-width: 100%;
    }
  }
  .buttons {
    width: 100%;
    & button {
      width: 100%;
    }
  }
}