* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}
html, body {
  width: 100%;
}

#root {
  display: flex;
  align-items: center;
  width: 100%;
}
.App {
  width: 100%;
  margin: 0 auto;
  padding-top: 130px;
}
main {
  padding:0 15px;
}
.error {
  margin-top: 150px;
  text-align: center;
  color: #ff4a4a;
  font-size: 40px;
}
.converter {
  &__wrapper {
    margin: 0 auto;
    padding: 30px 15px 15px 15px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    gap: 40px;
    background: rgba(0,0,0,0.1);
  }
  &__field {
    width: 50%;
  }
}
.header {
  width: 100%;
  padding: 20px 15px;
  background: none;
  font-weight: 600;
  text-align: center;
  &__container {
    max-width: 1000px;
    margin: 0 auto;
    & p {
      display: inline;
      font-size: 60px;
      margin-bottom: 20px;
    }
  }

  .line {
    display: block;
    height: 2px;
    margin-top: 20px;
    background: #1fa11f;
  }
}
@media (max-width:1000px) {
  .converter {
    &__wrapper {
      flex-direction: column;
    }
    &__field {
      width: 100%;
    }
  }
}