input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  outline: none;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  border: none;
  width: 100%;
  padding: 10px;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .input {
    width: 100%;
  }
}