.select {
  font-size: 20px;
  border-radius: 5px;
  max-width: 250px;
  width: 100%;
  padding: 5px 7px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  &__selected {
    background: #000;
    color: white;
  }
}
.option {
  background: white;
  color: black;
}